.body{
    background-color: black;
}


.Carrusel{
width: 100%;
height: 50%;
display: flex;

align-items: center;
justify-content: center;
object-fit: cover;
}

.colum{
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    color: gray;
}

.imagen{
    width: 250px;
    height: px;
    display: flex;
    justify-content: center;
    margin-top: -300px;
    
}


.imagen2{
    width: 250px;
    height: 300px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    margin-left: 1250px;
    
}

.titulo2{
    text-align: center;
    margin-top: -450px;
    width: 1500px;
    height: -800px;
    
}